language: go

sudo: false

go:
  - 1.x
  - 1.6.x
  - 1.7.x
  - 1.8.x
  - 1.9.x
  - tip

env:
  - GO15VENDOREXPERIMENT=1

before_script:
  - curl https://glide.sh/get | sh
  - go get github.com/mattn/goveralls

script: make deps && make test

after_success:
  - goveralls -service=travis-ci
